body {
    margin: 0;
    background-color: aqua;
}

.login-form-container{
    display: flex; 
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    width: 100vw;
    height: 100vh;
}

.login-form {
    display: flex;
    flex: .5;
    flex-direction: column;
    align-items: center;
}

.login-form input {
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.login-form input[type="submit"] {
    font-size: medium;
    font-weight: bold;
    color: black;
    background-color: greenyellow;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    width: auto;
}

.login-form-container a {
    text-decoration: none;
    color: black;
    padding-left: 3rem;
}

.errors {
    text-align: center;
    color: red;
}

header {
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header button {
    text-decoration: none;
    margin: 0 2rem;
}

.admin-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.admin-nav-bar button {
    padding: 0 2rem;
    margin: 1rem 0;;
}

.admin-nav-bar a {
    text-decoration: none;
    color: black;
}

.company-input-container {
    margin: 0 auto;
    width: 80%;
    text-align: right;
}

.company-input-container input[type="text"]:disabled{
    background-color: transparent;
    text-align: right;
}

.company-register-data ul {
    list-style-type: none;
}

.company-register-data li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2px;
}

.company-register-data input {
    border: none;
    margin-right: 40px;
}

/* --------------------ESHOP MAIN STYLE---------------------------- */

.products-list-container {
    display: flex;
    justify-content: center;
    width: 80vw;
    min-width: 800px;
    max-width: 1500px;
    margin: 2rem auto;
}

#sort-by-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 0;
}

table, tr, td, th {
    font-weight: bolder;
    font-size: .9rem;
    padding: .2rem;
    border: 1px solid gray;
    border-collapse: collapse;
}

.add-button-container {
    margin-top: 2rem;
    text-align: center;
}

.add-button-container a {
    text-decoration: none;
    color: black;
}

/* ------------------ESHOP ADD PRODUCT STYLE--------------- */

.add-product-container {
    outline: 1px solid gray;
    width: 80vw;
    max-width: 1500px;
    margin: 2rem auto;
}

.add-product-container li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem 0;
}

.add-product-container ul {
    list-style-type: none;
}

.add-product-container input,textarea {
    margin-right: 40px;
}

.add-product-container input {
    width: 40%;
}

.product-description-container {
    width: 70%;
    margin-right: 40px;
}

#textarea-letter-counter {
    text-align: right;
    font-weight: bold;
    color: red;
}

.add-product-container textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 7rem;
    resize: vertical;
}

#product-image-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5%;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}

#product-image-file {
    display: none;
}

#product-image-preview-container {
    position: relative;
    z-index: 999;
}

#product-image-preview {
    border: .5px solid black;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

#product-image-preview-container:hover .times {
    display: block;
}

#product-image-preview-container:hover #product-image-preview {
    transition: .5s;
    opacity: 0.5;
}

.times {
    position: absolute;
    display: none;
    font-size: 65px;
    font-weight: 100;
    right: 3px;
    top: -5px;
    cursor: pointer;
}

#add-product-submit-button {
    align-self: center;
    background-color: green;
    color: white;
    width: 30%;
    min-width: 150px;
    max-width: 200px;
    height: 30px;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}