body {
    margin: 0;
    background-color: aqua;
}

.login-form-container{
    display: flex; 
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    width: 100vw;
    height: 100vh;
}

.login-form {
    display: flex;
    flex: .5;
    flex-direction: column;
    align-items: center;
}

.login-form input {
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.login-form input[type="submit"] {
    font-size: medium;
    font-weight: bold;
    color: black;
    background-color: greenyellow;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    width: auto;
}

.login-form-container a {
    text-decoration: none;
    color: black;
    padding-left: 3rem;
}

.errors {
    color: red;
}

header {
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header button {
    text-decoration: none;
    margin: 0 2rem;
}

.admin-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.admin-nav-bar button {
    padding: 0 2rem;
    margin: 1rem 0;;
}

.admin-nav-bar a {
    text-decoration: none;
    color: black;
}

.company-input-container {
    margin: 0 auto;
    width: 80%;
    text-align: right;
}

.company-input-container input[type="text"]:disabled{
    background-color: transparent;
    text-align: right;
}

.company-register-data ul {
    list-style-type: none;
}

.company-register-data li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2px;
}

.company-register-data input {
    border: none;
    margin-right: 40px;
}

/* --------------------ESHOP MAIN STYLE---------------------------- */

.products-list-container {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}

#sort-by-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 0;
}

table, tr, td, th {
    font-weight: bolder;
    font-size: .9rem;
    padding: .2rem;
    border: 1px solid gray;
    border-collapse: collapse;
}

.add-button-container {
    margin-top: 2rem;
    text-align: center;
}

.add-button-container a {
    text-decoration: none;
    color: black;
}

/* ------------------ESHOP ADD PRODUCT STYLE--------------- */

.add-product-container {
    outline: 1px solid gray;
    width: 80vw;
    margin: 2rem auto;
}

.add-product-container li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem 0;
}

.add-product-container ul {
    list-style-type: none;
    /* float: left; */
}

.add-product-container input,textarea {
    margin-right: 40px;
}

.add-product-container input {
    width: 40%;
}

.add-product-container textarea {
    width: 70%;
    min-height: 5rem;
    resize: vertical;
}
