body, html {
    margin: 0 auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 2em;
    /* background-color: aqua; */
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: stretch; */
    width: 100%;
    height: 100%;
    /* min-height: 600px; */
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-nav-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 10px;
    height: 105px;
}
.header-nav-container button{
    margin-top: 10px;
}

/* ---------------------------Shopping Cart styles---------- */
.shopping-cart-image{
    margin-right: 15px;
    width: 35px;
    padding: 5px;
    transition-duration: 1s;
}

.shopping-cart-image:hover {
    cursor: pointer;
    border: 1px solid red;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 3px red ;
    transition-duration: 0.4s;
}

.cart-icon-bubble-pieces {
    /* display: none; */
    position: relative;
    /* display: block; */
    text-align: center;
    top: 10px;
    left: 35px;
    width: 25px;
    height: 20px;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    background-color: red;
}

/* ------------------Category panel styles--------------- */
.category-container {
    width: 25%;
    min-width: 220px;
}

.category-container input {
    text-align: left;
    width: 90%;
    max-width: 300px;
    min-width: 200px;
    border-radius: 5px;
    box-shadow: 5px 3px rgb(114, 105, 105);
    transition-duration: 0.4s;
}

.category-selected {
    background-color: red;
}

.category-container input:hover {
    background-color: chartreuse;
}

/* ------------------Products panel styles--------------- */
.products-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 75%;
    min-width: 500px;
    padding-left: 5px;
    padding-right: 5px;
}

.item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* background-color: aqua; */
    width: 30%;
    max-width: 300px;
    min-width: 250px;
    height: 200px;
    /* margin: 0 0 5px 5px ; */
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}

.product-image-href {
    text-align: center;
    cursor: pointer;
}

.product-image {
    width: 100px;
    height: auto;
    object-fit: fill;
}

.item-name {
    text-transform: uppercase;
    font-size: smaller;
    color: red;
}
.item-name:hover {
    color: blue;
    cursor: pointer;
}

.item-stock {
    /* color: green; */
    font-size: smaller;
}

.item-price-basket-container {
    display: inline-flex;
    justify-content: space-between;
}

.item-price {
    margin: 5px;
    font-weight: bold;
}
.item-basket {
    padding: 5px;
    width: 70px;
    color: white;
    background-color: blue;
}

a {
    text-decoration: none;
    color: 'black';
}

.form-container {
    /* max-width: 200px; */
    /* height: 100vh; */
    width: 50%;
    margin: auto;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    /* background-color: aqua; */
}

.form {
    display: flex;
    flex: 0.5;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form input {
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.form span {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    justify-self: stretch;
}

.form select {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.form input[type="submit"] {
    width: auto;
}

.form-container div {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.errors {
    color: red;
}
/*-------------------- Detail view style --------------*/
.detail-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    flex-wrap: wrap;
}

.detail-description-container {
    min-width: 500px;
    flex: 3;
}

.product-description {
    text-align: justify;
}

.cart-container {
    flex: 1;
    padding: 20px;
}

.cart-container form {
    padding-top: 30px;
}
.action-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.detail-item-price {
    font-weight: bold;
    font-size: xx-large;
}

.detail-item-stock {
    /* color: green; */
    padding-top:30px;
}

.cart-input {
    font-size: medium;
    width: 50px;
    height: 30px;
    padding: 10px;
    text-align: right;
}

.cart-arrows-container {
    display: flex;
    flex-direction: column;
    height: 54px;
}

.cart-arrow-button {
    cursor: pointer;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: white;
    background-color: lightgrey;
    border: 1px solid grey;
    width: 30px;
    height: 25px;
}

.cart-submit-button {
    font-weight: bold;
    background-color: rgb(0, 238, 255);
    color: white;
    border: 1px solid grey;
    width: 150px;
    height: 54px;
}

footer {
    text-align: center;
    box-sizing: border-box;
    padding-top: 50px;
    width: 100%;
    height: 100px;
}

.footer-container {
    margin: 30px 0;
}

.footer-container span {
    color: orange;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0.5px .5px 1px black;
}

/* ---------------------Message box style---------------------- */
.messageBox {
    position: fixed;
    margin: 0;
    top: 0;
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    opacity: 0.5;
    color: white;
}

/* ----------------Shopping cart row view---------------- */
.scart-progress-container {
    background-color: silver;
}

.progress-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.shopping-cart-list-container {
    width: 100%;
}

.scart-row-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
}

.scart-row-container div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scart-row-product-img {
    min-width: 110px;
}
.scart-row-product-name {
    padding: 10px 0 0 10px;
    width: 60%;
}
.scart-row-product-stocked {
    /* padding-left: 10px; */
    height: 100%;
    min-width: 15%;
}
.scart-row-product-amount-container {
    min-width: 15%;
    height: 100%;
}
.minimum-amount-box {
    background-color: black;
    color: white;
}
.scart-row-product-price {
    min-width: 15%;
    height: 100%;
}
.scart-row-delete-cross {
    min-width: 5%;
    border: none;
    outline: none;
    background: transparent;
    transition: 0.2s;
}
.scart-row-delete-cross:hover {
    transform: rotate(-90deg);
    transition: 0.2s;
}

.scart-row-product-price-total {
    min-width: 15%;
    height: 100%;
}

.scart-total-price {
    text-align: end;
    font-weight: bold;
    padding-top: 30px;
    margin-right: 60px;;
}

.scart-total-price-span {
    font-size: x-large;
    padding: 40px;
}

.scart-list-bottom-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
}

.scart-list-empty {
    text-align: center;
    padding-top: 20%;
}

/* -------------------Shippment and payment style ---------------- */

.radio-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0;
    /* outline: 1pc solid black; */
}

.radio-content-container span {
    height: 20px;
    /* box-sizing: border-box; */
}

.left-container form{
    display: flex;
    flex-direction: column;
}

.right-container span{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.form-content-description {
    font-style: italic;
    padding: 30px 0 30px;
}

/* -------------------Address order style ---------------- */

.preview-content-container {
    display: block;
    align-self: center;
    width: 80%;
    padding: 20px 0; 
}

.form-row-container {
    margin-top: 10px;
    box-sizing: border-box;
}

.label-container {
    box-sizing: border-box;
    width: 30%; 
    float: left;
    padding: 10px;
}

.input-container {
    display: inline-block;
    width: 70%;
    box-sizing: border-box;
}

.single-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

}

.submit-container {
    margin-top: 10px;
    text-align: right;
}

.submit-container input {
    position: relative;
    /* margin-right: 100px; */
    /* right: 20px; */

}

.phone-box {
    width: 70%;
    /* box-sizing: border-box; */
}

.phone-box select {
    width: 20%;
    padding: 10px 0px 10px 10px;
    box-sizing: border-box;
}

.phone-box input[type="tel"] {
    display: inline-block;
    width: 79%;
    margin-left: 1px;
    padding: 10px 0px 10px 10px;
    box-sizing: border-box;
}

.asterix-required::after {
    content: '*';
    color: red;
}

/* -------------------Preview order style ---------------- */

table {
    margin: 30px;
    padding: 20px;
}

table .price-total {
    color: red;
}

table .price-align {
    text-align: right;
    padding-right: 5%;
}

table .product-name {
    text-align: left;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=submit], button[type=submit]:hover {
    cursor: pointer;
}





